@charset "utf-8";
* { 
    margin: 0;
    padding: 0; 
    outline: none; 
    border-style: none;
    box-sizing: border-box;
    vertical-align: baseline;
}

/* - - - - - - - - - - - - - - - - - - */
/*          Header & Footer            */
/* - - - - - - - - - - - - - - - - - - */

body {
    font-family: "Inter", Arial,sans-serif;    
}
.container { 
    width: min(100% - 40px, 1280px);
}
header {
    height: 50px;
    background-color: rgb(68, 30, 191);
}

h1 {
    font-size: 25px;
    font-weight: 600;
    color:#fff;
    margin-left: 20px;
    padding-top: 10px;
}
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

ul {
    margin-right: 20px;
}
nav ul li {
    display: inline;
    line-height: 50px;

    a {
        font-size: 17px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }  
    } 
}

li + li {
    margin-left: 15px;
}

footer {
    height: 80px;
    background-color:#605d78;

    p {
        text-align: center;
        line-height: 70px;
        font-size: 18px;
        font-weight: 400;
        color: #fff;
    }
   .contact-section {
        position: relative;
        top: 30px;
        left: 20px;
   }
    ul {
        list-style: none;
    }
    li {
        display: inline;
    }
    
    .icon {
        font-size: 30px;
        color: #605d78;
        cursor: pointer;
        transition: color .4s ease-in-out;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        background-color: #e2e2e2;
        line-height: 1.4;
          
    } 
    .icon.fa-facebook:hover {
        color: #1877F2
     }  
    .icon.fa-linkedin:hover {
        color: #0077B5
     }
    .icon.fa-github:hover {
        color:#000000
    }
}



/* - - - - - - - - - - - - - - - - - - */
/*            Main Content             */
/* - - - - - - - - - - - - - - - - - - */

.dashboard {
    height: calc(100dvh - 50px - 80px);
    background-color:#dcdbdf;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
    flex-direction:row;
}

.top-row {
    padding-top: 185px;
}

.bottom-row {
    padding-bottom: 185px;
}

.box {
    background-color: #fff;
    width: 200px; 
    height: 70px; 
    margin: 10px;
    display: flex;
    justify-content: left;
        align-items: center;

        .icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            line-height: 2.5;
            margin-left: 6px;
            margin-right: 7px;
        }
 }

.icon.fa-user {
    color:#2a73d2;
    background-color:#dfedff;
    
}

.icon.fa-pen-nib {
    color:#3b8752;
    background-color:#d1f5dc;
}
.icon.fa-comment {
    color:#c74e80;
    background-color:#eed9ea;
}

.icon.fa-users {
    color:#db3939;
    background-color:#fddfdf;
}

.icon.fa-eye {
    color:#4b238c;
    background-color:#ede8fc;

}
.icon.fa-calendar {
    color:#f7cc4d;
    background-color:#fbf5db;
}

p.number {
    font-size: 30px;
    margin-right: 6px;
}

p.info {
    font-size: 20px;
    margin-top: 5px;
}

